.container {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    align-items: flex-start;
    justify-content: center;
}
body{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.h2{
    order: 1;
    width: 100%;
    margin-top: 10px;
}
.div1 {
    order: 2;
    justify-content: flex-start;
    flex: 1 300px;
    margin: 20px 5px 20px 0px;
    display: flex;
    flex-flow: row wrap;
}
.div2{
    order: 3;
    justify-content: flex-start;
    flex: 2 1 300px;
    margin: 20px 5px 20px 5px;
    display: flex;
    flex-flow: column wrap;
}
.div3{
    order:4;
    justify-content: flex-start;
    flex: 1 1 300px;
    margin: 20px 0px 20px 5px;
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
    padding-top: 14px;
}
div{
    border: 2px solid black;
}
audio{
    align-self: center;
    padding-bottom: 39%;
}
video{
    flex: 1 1 400px;
    margin-bottom: 5px;
}
.p1{
    height: 590px;
    font-size: 14px;
}
.menu_box{
    width: 100%;
    border: none;
}
.menu_item{
    display: flex;
    flex-flow: row;
    border: none;
}
.menu_item label{
    flex: 1 1 100px;
}
a{
    text-decoration: none;
    color: black;
    display: inline-block;
    border: 2px solid black;
    height: 50px;
    width: 98%;
    text-align: center;
}
#burger{
    position: fixed;
    left: -100%;
}
.menu_btn{
    position: fixed;
    left: -100%;
}
.menu{
    position: fixed;
    visibility: hidden;
    left: -98%;
    border: none;
    display: inline-block;
    width: 98%;
}
@media (max-width: 580px){
    a{
        width: 99%;
        height: 40px;
    }
    .menu_item{
        display: block;
        position: fixed;
        width: 100%;
        left: -110%;
        border: none;
    }
    .menu{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .menu_btn{
        position: relative;
        left: -44%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .menu_btn > span::after{
        content: "\2261";
        position: absolute;
        right: 10px;
    }
    #burger:checked~ .menu_item{
        position: static;
    }
    #burger:checked~ .menu_item > label{
        display: block;
        margin-top: 10px;
    }
    #burger:checked~ .menu{
        visibility: visible;
        left: -2%;
    }
    #burger:not(:checked)~ .menu_btn > span::after{
        content: "\2573";
    }
}
img{
    min-width: 100%;
    max-width: 100%;
    width: 100%;
}
.image-container {
    margin-top: 50px;
    order: 4;
}
