.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 20px;
    border: 1px solid black;
}
.logo{
    width: 200px;
    height: 100px;
    margin-left: 40px;
}
